@import "src/styles/breakpoints.scss";
@import "src/styles/colors.scss";

.auth-container {
  background-color: $secondary;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://customer.moneytolia.com/public-background.e9a82104c4ce20bc.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;

  .logo-container {
    padding: 24px 44px;
    position: absolute;
    left: 0;
    top: 0;
  }

  .card {
    width: 100%;
    max-width: 440px;
    padding: 1.5rem 1rem;
    border-radius: 24px !important;
    border: none;
    box-shadow: 0 16px 32px -12px #585c5f1a;

    @media screen and (max-width: $sm) {
      width: 90%;
    }
  }
}
